<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BBG_HTTP_Demo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E1F00D991D5074BC00AE6160</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E1F00DB21D5074BC00AE6160</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E1F00DBD1D5074BC00AE6160</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
